.modalContainer {
  padding: 0;
}

.image {
  height: 1100px;
  width: 100%;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  justify-content: center;
  padding: 0 40px 0 40px;
  gap: 50px;
  font-size: 18px;
}

.info {
  font-weight: bold;
}
